# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Conda environment files
.conda/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Raw data files are not tracked
data/raw/

# Keep processed cleaned dataset for app reproducibility
!data/processed/
!data/processed/draws_clean.csv

# Output files are not tracked
outputs/

# Environment variables
.env

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Test/cache folders
.pytest_cache/
.mypy_cache/